@font-face { 
    font-family: 'Sarabun'; 
    src: url('/include/fonts/Sarabun/Sarabun-Regular.ttf')format('truetype'); 
    font-weight: normal; 
    font-style: normal; 
    unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}
